<h1>{{item.name}}</h1>
<p>ID {{item.id}}</p>
<p>Price {{item.price}} $</p>
<a [routerLink]="['/iteminfo']" (click)="setCurrentItemIndex(item)" ><img src="{{item.url}}"> </a>
<p>{{item.description}}</p>
  <p>items count : {{item.amount}}</p>
  <button (click)="decrease(item)">-</button>
  <button (click)="increase(item)">+</button>
  <br>
  <br>
  <button (click)="additemtocart(item)">Add To Cart</button>
  <button (click)="removeitemfromcart(item)">Remove Item</button>

  
<!--
<select name="amount">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>-->